<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
	<header th:fragment="cabecalho">
		
   			<div class=" navbar-fixed teal lighten-2">
	        <nav class="teal lighten-2">
	          <div class="nav-wrapper container">
	            <a href="/" class="brand-logo"><i class="material-icons">cloud</i>Controle de Estoque</a>
	            
	           
	            <ul class="right hide-on-med-and-down" >
	              <li><a href="/produtos/cadastrar" title="Dar entrada em produtos"><i class="material-icons">shopping_basket</i></a></li>
	             
	              <li><a href="/estoque/listar" title="Estoque" ><i class="material-icons">trending_up</i></a></li>
	              <li><a href="/"><i class="material-icons">arrow_back</i></a></li>
	              
	            </ul>
	           
	          </div>
	        </nav>
      		</div>
   		
	</header>
</body>
</html>